body{
    background: url("Assets/background.jpg") rgba(0, 0, 0, 0.39);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    
}

.contact{
    position: relative;
    color: white;
    font-size: 42px;
    font-family: url("Assets/myriad-pro-cufonfonts/MYRIADPRO-BOLD.OTF");
    top: 20vh; 
    z-index: 100;
}

.square {
  display: inline-block;
  width: 350px;
  height: 350px;
  padding: 10px;
  /* border: 1px solid blue;     */
  background-color: rgba(0, 0, 0, 0.5); 
  position: relative;
  /* top: 400px;
  left: 50px; */
  margin: 20px;
  text-align: center;

}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 80vh; /* These two lines are counted as one :-)       */
  
  display: flex;
  align-items:center;
  justify-content: center;
}

.horizontal-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.myriad{
  font-family: url("Assets/myriad-pro-cufonfonts/MYRIADPRO-BOLD.OTF");
}

.white{
  color: white;
}

#rectangle{
  display: none;
  width: 1300px;
  height: 750px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5); 
  position: static;
  text-align: center;
}

.rectangle2{
  display: block;
  width: 1060px;
  height: 150px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5); 
  position: relative;
  text-align: center;
  top: 20vh;
}

/* text backround */
.square2{

  position: fixed;

  display: inline-block;
  width: 80vw;
  height: 100vh;

  /* opacity */
  background: rgba(0, 0, 0, 0.5);

  top: 0vh;
  left: 10vw;
  right: 10vw;

  text-align: left;

  z-index: 0;
}

.buttongr {
  background-color: #e7e7e7; 
  color: black;
}

a.button:hover{
  background: skyblue;
}

.button2 {
  background-color: #5cac58; 
  color: rgb(255, 255, 255);
}

