/* container override */
.container{

    /* remove margins */
    margin-left: 0;
    margin-right: 0;
}

/* row ovverride */
.row{

    /* remove margins */
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    height: 1vh;
}

/* mardown for the title of the page */
.covid_h1{

    position: relative;
    color: white;
    font-size: 42px;
    font-family: url("Assets/myriad-pro-cufonfonts/MYRIADPRO-BOLD.OTF");
    left: 20vh;
    top: 15vh;
    z-index: 100;
}

/* markdown for the second title */
.covid_h2{
    color: white;
    font-size: 25px;
    font-family: url("Assets/myriad-pro-cufonfonts/MYRIADPRO-BOLD.OTF");
    
}

/* markdown for the text inside the box */
.covid_h3{
    /* a little to the left */
    color: white;
    text-align: left;
    font-size: 17px;
    font-family: url("Assets/myriad-pro-cufonfonts/MYRIADPRO-BOLD.OTF");
}

.covid_h5{

    color: white;
    font-family: url("Assets/myriad-pro-cufonfonts/MYRIADPRO-BOLD.OTF");

}

/* text backround */
.square{

    position: fixed;

    display: inline-block;
    width: 80vw;
    height: 100vh;

    /* opacity */
    background: rgba(0, 0, 0, 0.5);

    top: 0vh;
    left: 10vw;
    right: 10vw;

    text-align: left;

    z-index: 0;
}

/* carousel override */
.carousel{

    top: 17vh;
    left: 24vw;

    height: 70vh;
    width: 50vw;

}

.extra{
    position: relative;

    top: 180vh;
    left: 20vw;
    z-index: 100;
}

.employer{

    position: relative;
    top: 100vh;
    left: 20vw;
    z-index: 100;
}

.employee{

    position: relative;
    top: 120vh;
    left: 20vw;
    z-index: 100;
}

.case{

    position: relative;

    top: 160vh;
    left: 20vw;
    z-index: 100;

}