body{
    background: url("./Assets/background.jpg") rgba(0, 0, 0, 0.39);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}

.custom_h1{
    position: fixed;
    color: white;
    font-size: 42px;
    font-family: url("./Assets/myriad-pro-cufonfonts/MYRIADPRO-BOLD.OTF");
    left: 20vw;
    top: 40vh;
    z-index: 100;
}
/* Search Bar */
.search_container{
    position: fixed;
    left: 1vh;
    top: 50vh;
}

.search_container input{

    height: 40px;
    width: 900px;

}
.search_bar{
    width: 60vw;
    height: 50px;

    border-style: none;
    background-color: white;
    border-radius: 10px;

    color:rgb(117, 117, 126);
    font-size: 24px;
    font-family: url("Assets/myriad-pro-cufonfonts/MYRIADPRO-BOLD.OTF");
    padding-left: 50px;
}

/* Navigation! */
.navigation{
    position: relative;
    top: 0;
    left: 0;

    font-size: large;
}
.nav_rectangle{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 13vh;
    background-color: white;
    filter: drop-shadow(0 0 0.75rem black);
    /* to appear on top of other elements */
    z-index: 1000;
}
.center_rel{
    position: fixed;
    left: 47vw;
    top: 10px;
    width: 5.5vw;
    /* to appear on top of other elements */
    z-index: 1001;
}
.sth{
    position: fixed;
    right: 15px;
    top: 15px;
    width: 4vw;
    /* to appear on top of other elements */
    z-index: 1001;
}
.flag{
    position: fixed;
    right: 80px;
    top: 25px;
    width: 3vw;
    /* to appear on top of other elements */
    z-index: 1001;
}
/* Navigation text */
.left_nav{
    position: fixed;
    left: 30px;
    top: 55px;
    /* to appear on top of other elements */
    z-index: 1001;
}
.right_nav{
    position: fixed;
    right: 200px;
    top: 55px;
    /* to appear on top of other elements */
    z-index: 1001;
}
.custom_ul{
    list-style-type: none;
    padding: 0;
    
    z-index: 2;
}
.custom_li{
    display: inline;
    margin-right: 20px;
}
.custom_a{
    text-decoration: none;
    color: rgb(153, 153, 153);
    font-family: url("Assets/myriad-pro-cufonfonts/MYRIADPRO-BOLD.OTF");
}
.cov{
    color: rgb(81, 153, 173);
    font-family: url("Assets/myriad-pro-cufonfonts/MYRIADPRO-BOLD.OTF");
}

.BrCr{
    position: fixed;
    top: 12.5vh;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    /* to appear on top of other elements */
    z-index: 1000;
}

/* override bootstrap constructor */
.row{

    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;

    /* remove rounded corners */
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;

}


/* enable absolute positioning */
.inner-addon {
    position: relative;
  }
  
  /* style glyph */
  .inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
  }
  
  /* align glyph */
  .left-addon .glyphicon  { left:  0px;}
  .right-addon .glyphicon { right: 0px;}
  
  /* add padding  */
  .left-addon input  { padding-left:  30px; }
  .right-addon input { padding-right: 30px; }