body{
    background: url("Assets/background.jpg") rgba(0, 0, 0, 0.39);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}

.custom_h1{
    position: fixed;
    color: white;
    font-size: 42px;
    font-family: url("Assets/myriad-pro-cufonfonts/MYRIADPRO-BOLD.OTF");
    left: 20vw;
    top: 40vh;
    z-index: 100;
}

/* Design */
:root{
    --dark:rgba(0, 0, 0, 0.8);
}

.bg_rec{
    position: fixed;
    top: 13vh;
    left: 10vw;
    width: 80vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.profile{
    position: fixed;
    top: 20vh;
    left: 14vw;
    width: 58vw;
    height: 20vh;
    background-color: var(--dark);
    border-radius: 4px;

    font-size: large;
}
.edit_text{
    mix-blend-mode: exclusion;
    color: white;
    opacity: 0.5;
    position: fixed;
    font-family: url("Assets/myriad-pro-cufonfonts/MYRIADPRO-BOLD.OTF");
    left: 66.5vw;
    top: 22vh;
    font-size: small;
}
.profile:hover .edit_text{
    cursor: pointer;
    opacity:1;
}

.basic_info{
    mix-blend-mode: exclusion;
    position: fixed;
    font-family: url("Assets/myriad-pro-cufonfonts/MYRIADPRO-BOLD.OTF");
    left: 23vw;
    top: 22vh;
}
._name{
    color: white;
    font-size: 18px;
    margin: 10px 0;
}
._misc{
    color: white;
    font-size: 16px;
    margin: 10px 0;
}

/* Pic suggest edit on hover */
#hidden{
    position: absolute;
    left: -9999999px;
}
.pic{
    background: url("Assets/User/profile_picture.png");
    background-repeat: no-repeat;
    background-size: 10.2vw 20vh;

    position: fixed;
    top: 20vh;
    left: 14vw;
    width: 10.2vw;
    height: 20vh;
    border-radius: 2px;
}
.overlay{
    position: fixed;
    top: 20vh;
    left: 14vw;
    width: 10.2vw;
    height: 20vh;

    opacity: 0;
    transition: .4s ease;
    background-color: black;
}
.pic:hover .overlay{
    opacity: .25;
}

.edit_pic{
    position: fixed;
    top: 34.9vh;
    left: 14vw;
    opacity: 0;
    width: 10.2vw;
}
.pic:hover .edit_pic{
    cursor: pointer;
    opacity: 1;
}

/* Personal and work data */
.info_rec_l{
    position: fixed;
    top: 42vh;
    left: 14vw;
    width: 28.5vw;
    height: 58vh;
    background-color: var(--dark);
    border-radius: 4px;
}
.info_title_l{
    position: fixed;
    color: white;
    font-size: 20px;
    font-family: url("Assets/myriad-pro-cufonfonts/MYRIADPRO-BOLD.OTF");
    text-align: center;

    left: 22vw;
    top: 43vh;
    z-index: 100;
}

.info_rec_r{
    position: fixed;
    top: 42vh;
    left: 43.5vw;
    width: 28.5vw;
    height: 58vh;
    background-color: var(--dark);
    border-radius: 4px;
}
.info_title_r{
    position: fixed;
    color: white;
    font-size: 20px;
    font-family: url("Assets/myriad-pro-cufonfonts/MYRIADPRO-BOLD.OTF");
    text-align: center;

    left: 51vw;
    top: 43vh;
    z-index: 100;
}

/* History or something idk  ¯\_(ツ)_/¯*/
.side_rec{
    position: fixed;
    top: 20vh;
    right: 12vw;
    width: 15vw;
    height: 80vh;
    background-color: var(--dark);
    border-radius: 4px;
}
.side_title{
    position: fixed;
    color: white;
    font-size: 20px;
    font-family: url("Assets/myriad-pro-cufonfonts/MYRIADPRO-BOLD.OTF");
    text-align: center;

    right: 14vw;
    top: 21vh;
    z-index: 100;
}
.side_ul{
    position: fixed;
    list-style-type: none;
    padding: 0;
    top: 26vh;
    right: 16vw;
    z-index: 100;
}
.side_li{
    z-index: 100;
    margin-top: 4px;
    color: white;
    font-size: 14px;
    font-family: url("Assets/myriad-pro-cufonfonts/MYRIADPRO-BOLD.OTF");
    text-align: left;
}

/* Navigation! */
.navigation{
    position: relative;
    top: 0;
    left: 0;

    font-size: large;
}
.nav_rectangle{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 13vh;
    background-color: white;
    filter: drop-shadow(0 0 0.75rem black);
}
.center_rel{
    position: fixed;
    left: 47vw;
    top: 10px;
    width: 5.5vw;
}
.sth{
    position: fixed;
    right: 15px;
    top: 15px;
    width: 4vw;
}
.flag{
    position: fixed;
    right: 80px;
    top: 25px;
    width: 3vw;
}
/* Navigation text */
.left_nav{
    position: fixed;
    left: 30px;
    top: 30px;
}
.right_nav{
    position: fixed;
    right: 200px;
    top: 30px;
}
.custom_ul{
    list-style-type: none;
    padding: 0;
    
    z-index: 2;
}
.custom_li{
    display: inline;
    margin-right: 20px;
}
.custom_a{
    text-decoration: none;
    color: rgb(153, 153, 153);
    font-family: url("Assets/myriad-pro-cufonfonts/MYRIADPRO-BOLD.OTF");
}
.cov{
    color: rgb(81, 153, 173);
    font-family: url("Assets/myriad-pro-cufonfonts/MYRIADPRO-BOLD.OTF");
}

.BrCr{
    position: fixed;
}